    <section id="footer">
        <div class="container">
            <p>&copy 2019 University of Melbourne Information Security Club</p>
        </div>
    </section>

    <!-- Custom JS -->
    <script type="text/javascript" src="/scripts/home.js"></script>
</body>
</html>
