    <!-- <footer>
        <p style="color:gray; opacity: 0.5; text-align: center">&copy University of Melbourne Information Security Club</p>
    </footer> -->

    <!-- Custom JS -->
    <script type="text/javascript" src="/scripts/home.js"></script>

  </body>
</html>
