<div id="socialLinks">
    <a href="mailto:melb.info.sec.club@gmail.com"><i class="fas fa-envelope-square"></i></a>
    <a href="https://www.facebook.com/uomisc/?ref=br_rs" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/melbourne-information-security-club/" target="_blank"><i class="fab fa-linkedin"></i></a>
</div>
