<div id="socialLinks">
    <a href="https://www.facebook.com/uomisc/?ref=br_rs" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/melbourne-information-security-club/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
</div>