#mainNavBar{
  background-color: #202020;
  height: 2.5rem;
}

#mainNavBar .nav-link{
  font-size: 1.0rem;
  font-weight: 100;
  color: white;
  /*width: 13rem;*/
}

#mainNavBar .nav-link, .navbar-brand{
  width: 14rem;
}

#mainNavBar .navbar-brand img{
  height: 2.0rem;
  width: 2.0rem;
}

/*#selected{
  color: gray;
}*/

#mainNavBar .nav-link:hover{
  color: gray;
}

body{
  background: black;
}

/*#special a span{
  font-weight: bold;
}*/