#mainNavBar{
  background-color: #202020;
  height: 2.5rem;
  /*padding-left: 12.5%;*/
}

#mainNavBar .nav-link{
  font-size: 1.0rem;
  font-weight: 100;
  color: white;
}

#mainNavBar .nav-link, .navbar-brand{
  /*width: 14rem;*/
}

#mainNavBar .navbar-brand img{
  height: 30px;
  width: 30px;
}

#navLinks{
  padding-right: 0;
}

#mainNavBar .nav-link:hover{
  color: gray;
}

#mainNavBar #selected .nav-link{
  color: gray;
}

body{
  background: black;
}

.navbar-toggler{
  border: none;
}

#content{
  margin-top: 5rem;
}

#content img{
  vertical-align: bottom;
}

body{
  color: white;
  /*font-family: Nunito, Sans-Serif;*/
}

.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}

#main-title{
  font-weight: 250;
  text-align: center;
  letter-spacing: 0.2rem;
}

/*#special a span{
  font-weight: bold;
}*/