<% include ./partials/header-top %>

<title>umisc | about</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/about.css">

<div id="content">

  <% include ./partials/social-links %>

  <section id="about-umisc" class="pt-5 pb-5">
      <div class="container">
          <h1>Who We Are</h1>
          <p>The University of Melbourne's Information Security Club (UMISC) was founded in 2017 by Thomas Wang, an undergraduate student from the University of Melbourne. The club was created with the intention of building a team for CySCA, an annual Capture The Flag (CTF) competition that pits Australian Universities against each other in a hacking competition. Since its inception, the club has become an inclusive community of like-minded students who are working toward careers in the cybersecurity field or just looking to broaden their skillset. Our members come from many different academic backgrounds including Arts, Science and Commerce as our training sessions are designed to be beginner friendly.</p>
          <p>The goals of the club are to promote the discussion of cybersecurity topics and help members understand the complex ecosystem that surrounds the field of cybersecurity. With weekly training sessions, the club aims to develop members offensive cybersecurity skills by moving through progressively more challenging tasks and topics.</p>
          <p>The club also hosts many events throughout the calendar year. These include social events, where members are able to network with other cybersecurity students from neighbouring universities and guest speaker presentations, where cybersecurity professionals tell us about what they do in their chosen field and give club members a better insight into potential career paths. The club also hosts CTFs, where members are able to practice their hacking skills in a competitive environment with time constraints and prizes.</p>
      </div>
  </section>

  <section id="club-aims" class="pt-5 pb-5">
      <div class="container">
        <h1>Our Aims</h1>
        <p>To promote/ facilitate the discussion of cyber-security pertaining to the modern state of technology and politics</p>
        <p>To legally and ethically improve the offensive security skills of the club’s participants in a practical manner</p>
        <p>To teach corporate network defence, mitigation and defensive security to members of the club</p>
        <p>To participate in CTFs on behalf of the University</p>
        <p>To connect with industry professionals such as “Red Team”, “Blue Team”, journalists, engineers, etc. through guest lectures</p>
        <p>To prepare club members with the skills and network required to pursue a career in cybersecurity</p>
      </div>
  </section>

  <section id="committee" class="pt-5 pb-5">
    
      <div class="container">
          <h1>Committee 2018/2019</h1>

          <h4>• Executive Committee •</h4>
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/taku.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Takuhiro Kikuchi">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/takuhiro-kikuchi-63517113b/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p><span class="title">President</span><br>Takuhiro Kikuchi</p>
            </div>
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Joshua Ong">
                        <figcaption>
                            <a href="#" target="_blank">
                              <i class="fas fa-smile"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p><span class="title">Secretary</span><br>Joshua Ong</p>
            </div>
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Asil Mian">
                        <figcaption>
                            <a href="#" target="_blank">
                              <i class="fas fa-smile"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p><span class="title">Treasurer</span><br>Asil Mian</p>
            </div>
          </div>
    
          <h4>• General Committee •</h4>
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Ethan Cheng">
                        <figcaption>
                            <a href="#" target="_blank">
                              <i class="fas fa-smile"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p>Ethan Cheng</p>
            </div>
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/manindra.jpeg" class="rounded-circle img-fluid mx-auto d-block" alt="Manindra Arora">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/manindra-a/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                      </figure>
                </div>
              <p>Manindra Arora</p>
            </div>
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Michael Manoussakis">
                        <figcaption>
                            <a href="#" target="_blank">
                              <i class="fas fa-smile"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p>Michael Manoussakis</p>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-1 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/shevon.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Shevon Mendis">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p>Shevon Mendis</p>
            </div>
          </div>
      </div>
    
  </section>

</div>

<% include ./partials/footer %>
