<% include ./partials/header-top %>

<title>umisc | about</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/about.css">

<div id="content">

  <% include ./partials/social-links %>

  <section id="about-umisc" class="pt-5 pb-5">
      <div class="container">
          <h1>Secure. Protect. Infiltrate.</h1>
          <p>Established in 2017, The University of Melbourne's Information Security Club (UMISC) provides an inclusive community of like-minded students, who are either working towards a career in cybersecurity, or just looking to broaden their skillset. The club was originally found with the intention of building a team for CySCA, an annual Capture The Flag (CTF) competition that pits Australian Universities against each other in a hacking competition. Our members come from various backgrounds including Arts, Science and Commerce, and keeping them in mind, our workshops and events are organised to cater to members of all skill levels.</p>
      </div>
  </section>

  <section id="club-aims" class="pt-5 pb-5">
      <div class="container">
        <h1>Our Aims</h1>
        <p>To promote/ facilitate the discussion of cyber-security pertaining to the modern state of technology and politics</p>
        <p>To legally and ethically improve the offensive security skills of the club’s participants in a practical manner</p>
        <p>To teach corporate network defence, mitigation and defensive security to members of the club</p>
        <p>To participate in CTFs on behalf of the University</p>
        <p>To connect with industry professionals such as “Red Team”, “Blue Team”, journalists, engineers, etc. through guest lectures</p>
        <p>To prepare club members with the skills and network required to pursue a career in cybersecurity</p>
      </div>
  </section>

  <section id="committee" class="py-5">

      <div class="container">
          <h1>Committee '19</h1>

          <h4>• Executive Committee •</h4>
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/taku.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Takuhiro Kikuchi">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/takuhiro-kikuchi-63517113b/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p><span class="title">President</span><br>Takuhiro Kikuchi</p>
            </div>
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/josh.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Joshua Ong">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/joshua-ong-926544140" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p><span class="title">Secretary</span><br>Joshua Ong</p>
            </div>
            <div class="col-12 col-sm-4">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/asil.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Asil Mian">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/asil-m-1b96a496">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p><span class="title">Treasurer</span><br>Asil Mian</p>
            </div>
          </div>

          <h4>• General Committee •</h4>
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-3">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/chuanshu.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Chuanshu Jiang">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/chuanshu-jiang-25aa88184/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p>Chuanshu Jiang</p>
            </div>
            <div class="col-12 col-sm-3">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/joseph.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Joseph Surin">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/joseph-surin-0a756b17b/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                      </figure>
                </div>
              <p>Joseph Surin</p>
            </div>
            <div class="col-12 col-sm-3">
                <div class="member d-flex justify-content-center pt-3 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/michael.jpeg" class="rounded-circle img-fluid mx-auto d-block" alt="Michael Manoussakis">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/michael-manoussakis/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p>Michael Manoussakis</p>
            </div>
            <div class="col-12 col-sm-3">
                <div class="member d-flex justify-content-center pt-1 pb-3">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img src="images/committee/shevon.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Shevon Mendis">
                        <figcaption>
                            <a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                        </figcaption>
                    </figure>
                </div>
              <p>Shevon Mendis</p>
            </div>
          </div>
      </div>


      <h4>• Education Officers •</h4>
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-4">
            <div class="member d-flex justify-content-center pt-1 pb-3">
                <figure class="imghvr-shutter-in-out-diag-2">
                    <img src="images/committee/john.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="John Stephenson">
                    <figcaption>
                        <a href="https://www.linkedin.com/in/john-stephenson-1b147578/" target="_blank">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                    </figcaption>
                </figure>
            </div>
          <p>John Stephenson</p>
        </div>
        <div class="col-12 col-sm-4">
            <div class="member d-flex justify-content-center pt-1 pb-3">
                <figure class="imghvr-shutter-in-out-diag-2">
                    <img src="images/committee/kaif.jpeg" class="rounded-circle img-fluid mx-auto d-block" alt="Kaif Ahsan">
                    <figcaption>
                        <a href="http://linkedin.com/in/kaif-ahsan-9ba376123" target="_blank">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                    </figcaption>
                </figure>
            </div>
          <p>Kaif Ahsan</p>
        </div>
      </div>


  </section>




</div>

<% include ./partials/footer %>
