<% include ./partials/header %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/about.css">

<div id="content" class="container">

  <section id="about-umisc">
      <h1>Who We Are</h1>
      <p>The University of Melbourne's Information Security Club (UMISC) was founded in 2017 by Thomas Wang, an undergraduate student from the University of Melbourne. The club was created with the intention of building a team for CySCA, an annual Capture The Flag (CTF) competition that pits Australian Universities against each other in a hacking competition. Since its inception, the club has become an inclusive community of like-minded students who are working toward careers in the cybersecurity field or just looking to broaden their skillset. Our members come from many different academic backgrounds including Arts, Science and Commerce as our training sessions are designed to be beginner friendly.</p>
      <p>The goals of the club are to promote the discussion of cybersecurity topics and help members understand the complex ecosystem that surrounds the field of cybersecurity. With weekly training sessions, the club aims to develop members offensive cybersecurity skills by moving through progressively more challenging tasks and topics.</p>
      <p>The club also hosts many events throughout the calendar year. These include social events, where members are able to network with other cybersecurity students from neighbouring universities and guest speaker presentations, where cybersecurity professionals tell us about what they do in their chosen field and give club members a better insight into potential career paths. The club also hosts CTFs, where members are able to practice their hacking skills in a competitive environment with time constraints and prizes.</p>
  </section>

  <section id="club-aims" class="mt-5">
      <h1>Our Aims</h1>
      <p>• To promote/ facilitate the discussion of cyber-security pertaining to the modern state of technology and politics</p>
      <p>• To legally and ethically improve the offensive security skills of the club’s participants in a practical manner</p>
      <p>• To teach corporate network defence, mitigation and defensive security to members of the club</p>
      <p>• To participate in CTFs on behalf of the University</p>
      <p>• To connect with industry professionals such as “Red Team”, “Blue Team”, journalists, engineers, etc. through guest lectures</p>
      <p>• To prepare club members with the skills and network required to pursue a career in cybersecurity</p>
  </section>

  <section id="committee" class="mt-5">
      <h1>Committee 2018/2019</h1>
      <div class="row">
        <div class="col-12 col-sm-4">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Takuhiro Kikuchi">
          <p><strong>President</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Takuhiro Kikuchi</a></p>
        </div>
        <div class="col-12 col-sm-4">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Joshua Ong">
          <p><strong>Secretary</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Joshua Ong</a></p>
        </div>
        <div class="col-12 col-sm-4">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Asil Mian">
          <p><strong>Treasurer</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Asil Mian</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Ethan Cheng">
          <p><strong>Marketing Officer</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Ethan Cheng</a></p>
        </div>
        <div class="col-12 col-sm-4">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Manindra Arora">
          <p><strong>Blogger</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Manindra Arora</a></p>
        </div>
        <div class="col-12 col-sm-4">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Michael Manoussakis">
          <p><strong>Event Manager</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Michael Manoussakis</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="images/committee/pic.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="Shevon Mendis">
          <p><strong>Web Administrator</strong><br><a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">Shevon Mendis</a></p>
        </div>
      </div>
  </section>

</div>

<!-- Custom JS -->
<script type="text/javascript" src="about.js"></script>

<% include ./partials/footer %>
