<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/add-event.css">

<div id="content" class="container main">

  <h2 class="d-flex mb-5 justify-content-center">Create New Event</h2>

  <form action="/events" method="POST">

      <div class="form-group row">
        <label for="name" class="col-sm-6 mx-0 pr-5">Name<span>*</span>:</label>
        <div class="col-sm-6">
          <input id="name" type="text" class="form-control" name="event[name]" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="date" class="col-sm-6 mx-0 pr-5">Date<span>*</span>:</label>
        <div class="col-sm-6">
          <input id="date" type="date" class="form-control" name="event[date]" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="time" class="col-sm-6 mx-0 pr-5">Time<span>*</span>:</label>
        <div class="col-sm-6">
          <input id="time" type="time" class="form-control" name="event[time]" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="img_url" class="col-sm-6 mx-0 pr-5">Image URL<span>*</span>:</label>
        <div class="col-sm-6">
            <input id="img_url" type="text" class="form-control" name="event[image]" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="desc" class="col-12 col-sm-6">Description<span>*</span>:</label>
        <div class="col-sm-6">
          <textarea id="desc" class="form-control" rows="8" name="event[description]" required></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="loc" class="col-sm-6 mx-0 pr-5">Location<span>*</span>:</label>
        <div class="col-sm-6">
          <input id="loc" type="text" class="form-control" name="event[location]" required>
        </div>
      </div>

      <div class="form-group row">
          <label for="loc_link" class="col-sm-6 mx-0 pr-5">LostOnCampus Link<span>*</span>:</label>
          <div class="col-sm-6">
            <input id="loc_link" type="text" class="form-control" name="event[location_link]" required>
          </div>
        </div>

      <div class="form-group row">
        <label for="page_link" class="col-sm-6 mx-0 pr-5">Event Page Link<span>*</span>:</label>
        <div class="col-sm-6">
          <input id="page_link" type="text" class="form-control" name="event[page_link]" required>
        </div>
      </div>

      <div class="mt-3">
        <button type="button" id="cancel-btn" class="btn" onclick="history.back()">Cancel</button>
        <button type="submit" id="create-btn" class="btn float-right">Create Event</button>
      </div>

    </form>

</div>

<% include ./partials/footer %>
