<% include ./partials/header-top %>

<title>umisc | admin</title>

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/admin.css">

<div id="content" class="container">

    <section id="log-in-form" class='d-flex flex-column justify-content-center'>

      <h2 class="d-flex justify-content-center">ADMIN PORTAL</h2>
      
      <form action="/admin" method="POST" class="mt-5">

          <div class="form-group row justify-content-center" >
            <div class="col-12 col-sm-6 col-md-4">
              <input type="text" class="form-control" name="username" placeholder="username" required>
            </div>
          </div>

          <div class="form-group row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4">
              <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
          </div>

          <div class="d-flex justify-content-center pt-4">
            <button type="submit" class="btn btn-outline-primary">Log In</button>
          </div>

      </form>

    </section>

</div>

<% include ./partials/footer %>
