<% include ./partials/header-top %>

<title>umisc | blog</title>

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/blog.css">

<!-- Section Classes -->
<% var classes = ["col-12", "col-12 col-md-5", "col-12 col-md-7", "col-12 col-md-7", "col-12 col-md-5"]; %>

<div id="content" class="container">
    
    <section id="blog-posts" class="pt-5 pb-5">
    <% if (posts.length === 0 ){ %>
        <h2 id="sorry-msg">Sorry, no Blog Posts have been published yet.</h2>
    <% }else{ %>
        <% var postCount = 0 %>
        <% posts.forEach(function(post){ %>

            <a href="<%= post.link %>" target="_blank">
            <% if (postCount < 5) { %>
                <div class="b-post <%= classes[postCount] %> mb-2">
            <% }else{ %>
                <div class="b-post <%= classes[postCount] %> mb-2 float-right">
            <% } %>
                    <img src="https://cdn-images-1.medium.com/max/1024/1*XAikuXkQo0d2iVkkYvBLDA.jpeg" class="img-fluid" alt="">
                    
                    <div class="container info">
                        <h3><%=post.title%></h3>
                    </div>
                    <% postCount++ %>
                    <% if (postCount === classes.length) postCount = 0 %>
                </div>
            </a>
            <% }); %>
    <% } %>
    </section>

    <% 
        function getImgSrc(str){                 
            var index = str.indexOf("src") + 5; 
            var imgSrc = "";                    
            while (str[index] !== "\""){        
                imgSrc += str[index];           
                index ++;                       
            }                                   
            return imgSrc;                      
        }                
    %>
</div>

<div class="pb-5"></div>

<% include ./partials/footer %>
