<% include ./partials/header-top %>

<title>umisc | contact</title>

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/contact.css">

<div id="content" class="container">

    <% include ./partials/social-links %>

    <section class="message-form pt-5 pb-5">

      <h1>Contact Form</h1>

      <form action="/contact" method="POST">
                        
        <div class="form-group row justify-content-center pt-5" >
          <div class="col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" name="message[name]" placeholder="name" required>
          </div>
        </div>
        
        <div class="form-group row justify-content-center">
          <div class="col-12 col-sm-6 col-md-6">
            <input type="email" class="form-control" name="message[email]" placeholder="email" required>
          </div>
        </div>
        
        <div class="form-group row justify-content-center">
          <div class="col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" name="message[org]" placeholder="organisation" required>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <div class="col-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" name="message[subject]" placeholder="subject" required>
          </div>
        </div>
        
        <div class="form-group row justify-content-center">
        <div class="col-12 col-sm-6 col-md-6">
            <textarea id="body" class="form-control" rows="8" name="message[body]" placeholder="message" required></textarea>
        </div>
        </div>
        
        <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn btn-outline-primary">submit</button>
        </div>
        
      </form>
    </section>

</div>

<% include ./partials/footer %>
