<% include ./partials/header %>

        <link rel="stylesheet" href="/stylesheets/error.css">
        
        <div id="content" class="container">
            <i class="fas fa-exclamation-triangle"></i>
            <h1>Sorry, this page does not exist!</h1>
        </div>

        <!-- Custom JS -->
        <script type="text/javascript" src="/scripts/home.js"></script>

    </body>
</html>