<% include ./partials/header %>

<!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/events.css">

<div id="content" class="container">

  <h1>
    <i class="fas fa-angle-left"></i>
    <span id="month"></span>
    <i class="fas fa-angle-right"></i>
    <br>
    <span id="year"></span>
  </h1>

  <div class="row d-flex flex-wrap">
    <% events.forEach(function(event){ %>
      <div class="event col-md-4 col-sm-6 pb-5">
          <h4><%=event.name%></h4>
          <img src="<%= event.image %>" class="img-thumbnail">
          <a href="/events/<%=event._id%>" target="_blank"><button class="more-btn mt-3">More Info</button></a>
      </div>
    <% }) %>
  </div>
</div>

<!-- Custom JS -->
<script type="text/javascript" src="/scripts/events.js"></script>

<% include ./partials/footer %>
