<% include ./partials/header %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/home.css">

<div id="content">

  <h1 id="main-title">U<span>niversity</span> <span id="special">of</span> M<span>elbourne</span><br>I<span>nformation</span> S<span>ecurity</span> C<span>lub</span></h1>

  <div id="ads" class="container d-flex justify-content-center">
    
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center mb-3">
          <div class="card-title">
            <i class="fab fa-leanpub"></i>
            <h6>Learn</h6>
          </div>
          <p class="card-text">Get started with the basics of pen-testing and defending software applications</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center mb-3">
          <div class="card-title">
            <i class="fab fa-connectdevelop"></i>
            <h6>Connect</h6>
          </div>
          <p class="card-text">Meet like-minded students and get involved in the cybersecurity community</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center mb-3">
          <div class="card-title">
            <i class="fas fa-trophy"></i>
            <h6>Compete</h6>
          </div>
          <p class="card-text">Test your skills by competing in Capture The Flag (CTF) competitions</p>
        </div>
      </div>
    </div>
  </div>

  <img id="main-img" src="/images/backgrounds/img2.png" class="img-fluid">

</div>

<!-- Custom JS -->
<script type="text/javascript" src="/scripts/home.js"></script>

<% include ./partials/footer %>
