<% include ./partials/header-top %>

<title>umisc | register</title>

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/admin.css">

<div id="content" class="container">

    <h2 class="d-flex justify-content-center">CREATE NEW ADMIN</h2>

    <form action="/register" method="POST" class="pt-5">

        <div class="form-group row justify-content-center" >
          <div class="col-12 col-sm-6 col-md-4">
            <input type="text" class="form-control" name="name" placeholder="Full Name" required>
          </div>
        </div>

        <div class="form-group row justify-content-center" >
          <div class="col-12 col-sm-6 col-md-4">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
        </div>

        <div class="d-flex justify-content-center pt-4">
          <button type="submit inverse" class="btn">Sign Up</button>
        </div>

    </form>

</div>

<% include ./partials/footer %>
