<!DOCTYPE html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/test.css">

        <!-- JS Libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>

    <body>
                
        <div id="custom-navbar">
            <div class="container">
                <a href="#" class="toggle" id="navHamburger">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="left-nav-links order-2 order-md-1">
                    <a href="" class="link">About</a>
                    <a href="" class="link">Events</a>
                </div>
                <a href="" class="brand order-1 order-md-2">MyName</a>
                <div class="right-nav-links">
                    <a href="" class="link">Blog</a>
                    <a href="" class="link">Contact</a>
                </div>
            </div>
        </div>



        <!-- Custom JS -->
        <script type="text/javascript" src="/scripts/test.js"></script>
    </body>
</html>

