#about-umisc p{
	text-align: justify;
}

#committee{
	background-color: #f4f4f4;
}

#club-aims p{
	text-align: center;
}

#committee h4{
	text-align: center;
	margin-bottom: 30px;
	font-weight: 100;
}

#committee p{
	text-align: center;
}

#committee img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 5px solid black;
}

#committee .title{
	font-weight: bolder;
}

.row{
	margin-bottom: 2rem;
}

figure{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figcaption{
	text-align: center;
}

figcaption a{
	margin-top: 25%;
}

h1{
	text-align: center;
	margin-bottom: 2rem;
}

a{
	color: white;
	font-size: 30px;
}

a:hover{
	color: white;
}

body{
	overflow-x: hidden !important;
}