#events-tag{
  color: gray;
}

/* #create-btn{
	color: rgb(2, 145, 145);
  border-color:  rgb(2, 145, 145);
}

#create-btn:hover{
	background-color: rgb(2, 145, 145);
	color: white;
} */

/* #cancel-btn{
  border-color: red;
  color: red;
}

#cancel-btn:hover{
  background-color: red;
  color: white;
} */

.main{
  width:60%;
}

.row{
  justify-content: center;
}

input, textarea{
  border-radius: 16px !important;
  text-align: center;
}

label span{
	color: red;
}

h2{
  text-align: center;
}
