#events-tag{
  color: gray;
}

.main{
  width:60%;
}

.row{
  justify-content: center;
}

input, textarea{
  border-radius: 16px !important;
}

input{
  text-align: center;
}

label span{
	color: red;
}

h2{
  text-align: center;
}
