h2{
  letter-spacing: 0.5rem;
  font-weight: 200;
}

.btn{
	border: 1px solid white;
	background: black;
	color: white;
}

.btn:hover{
	background: white;
	color: black;
}

#content{
  margin: 17.5% auto;
}
