#sorry-msg{
	text-align: center;
	font-weight: 100;
	margin-top: 30vh;
}

#blog-posts{
	min-height: 82.5vh;
}

.b-post{
	font-family: 'Times New Roman', Times, serif;
	padding: 0 !important; 
	float: left;
	border: 1px solid #e0e0e0;
	/* border-radius: 7.5px; */
	text-align: center;
	height: 50vh;
}

.b-post:hover { 
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.4);
	z-index: 1;
	transition: 500ms;
	border: none;
}

.b-post img{
	width: 100%;
	height: 40vh;
	object-fit: cover !important;
	/* border-top-left-radius: 7.5px; */
	/* border-top-right-radius: 7.5px; */
}

.info{
	color: black;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media(max-width:575px){

	h3{
		font-size: 1.3rem;
	}

	p{
		font-size: 1rem;
	}
}
