#socialLinks{
  z-index: 1;
  position: fixed;
  top: 45vh;
  right: 0;
  transition: 250ms;
}

#content{
  margin-top: 5vh;
}

#flash, #content, #footer{
  display: none;
}

#flash{
  margin-top: 7.5vh;
  position: relative;
}

#mainNavBar{
  background-color: #202020;
}

#mainNavBar .nav-link{
  font-size: 1.0rem;
  font-weight: 100;
  color: white;
  text-align: center;
}

#mainNavBar .navbar-brand img{
  height: 30px;
  width: 30px;
}

#navLinks .navbar-nav{
  width: 100%;
  background-color: #202020;
}

#navLinks .navbar-nav a{
  line-height: 0.5rem;
}

#mainNavBar .nav-link:hover{
  color: gray;
}

#toggler{
  border: none;
}

#toggler:hover .navbar-toggler-icon{
  color: white;
}

#toggler:focus{
  border: 1px solid gray;
  outline: none;
}

#footer{
  background-color: #202020;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#footer p{
  font-weight: 100 !important;
  font-size: 0.75rem !important;
  text-align: center !important;
  margin-bottom: 0;
}

body{
  color: black;
  background-color: white;
}

.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}

.alert{
  background-color: white;
  text-align: center;
  border-radius: 16px;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
  top: 50px;
}

.alert-danger{
  border-color: red;
  color: red;
}

.alert-success{
  color: rgb(2, 145, 145);
  border-color:  rgb(2, 145, 145);
} 

.sign-up-btn{
	border-radius: 4px;
	background: none;
	border: 1px solid black;
  color: black;
}

.btn{
  border-radius: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-facebook, .fa-medium, .fa-linkedin{
  display: block !important;
  color:  #1e2322;
  font-size: 2.5rem !important;
}

@media(max-width:575px) {
  #socialLinks{
    visibility: hidden;
  }

  #mainNavBar .nav-link{
    padding: 1em;
  }

  #mainNavBar{
    height: 9vh;
  }

  #content{
    margin-top: 9vh;
  }
}

@media(min-width:575px){

  #mainNavBar{
    height: 40px;
  }

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  } 

  #events-container{
    margin-right: 20%;
  }
}

::-webkit-scrollbar { 
  display: none; 
}
