#contact-tag{
  color: gray;
}

#submit-btn{
	border: 1px solid black;
	background: white;
	color: black;
}

#submit-btn:hover{
	background: black;
	color: white;
}

.alt-contact{
	margin-top: 100px;
}

hr{
	background: gray;
	margin-top: 20px;
}

form{
	margin-top: 50px;
}

label span{
	color: red;
}

@media(max-width:550px) {
  h3{
    font-size: 1.5rem;
  }
}
