#mainNavBar{
  background-color: #202020;
  height: 2.5rem;
  /*padding-left: 12.5%;*/
}

#mainNavBar .nav-link{
  font-size: 1.0rem;
  font-weight: 100;
  color: white;
}

#mainNavBar .navbar-brand img{
  height: 30px;
  width: 30px;
}

#navLinks .navbar-nav{
  width: 100%;
}

.right-navs, .left-navs{
  width: 40%;
}

.centre-space{
  width: 20%;
}

#mainNavBar .nav-link:hover{
  color: gray;
}

body{
  background: black;
}

.navbar-toggler{
  border: none;
}

/* #content{
  margin-top: 8rem;
} */

body{
  color: white;
}

.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.alert{
  background-color: black;
  margin-top: 3%;
  text-align: center;
}

.alert-danger{
  border-color: red;
  color: red;
}

.alert-success{
  color: rgb(2, 145, 145);
  border-color:  rgb(2, 145, 145);
}

.button{
	background: black;
	border: none;
}

button:hover{
	background: white;
	color: black;
}

button:focus {
	outline: none;
}