body{
	text-align: center;
}

#content{
	margin-top: 6rem;
}

h1 {
	margin: 5% auto;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	line-height: 40%;
	padding-bottom: 5;
}

#month{
	width: 40%;
}

#year{
	font-size: 0.4em;
	font-weight: 200;
	color: #0472e8;
}

h1:hover .fas{
	opacity: 1;
	transition: 500ms;
}

.event:hover .admin-btn{
	opacity: 1;
	transition: 500ms;
}

.fas, .far{
	color: gray;
	opacity: 0;
	transition: 500ms;
}

span{
	text-align: center;
}

.fas:hover, .far:hover{
	color: white;
}

.more-btn, .add-btn{
	border-radius: 4px;
	background: none;
	border: 1px solid white;
	color: white;
}

.event{
	float: left;
}

.event h4, p{
	font-weight: 100;
}

.event img{
	border: 0 none;
	box-shadow: none;
}

.event p{
	color: #0472e8;
}

.img-thumbnail{
	background: none;
	border-radius: 0.4rem;
}

a{
	color: white;
}

a:hover{
	text-decoration: none;
}

.del-btn{
	background: black;
	border: none;
}

.del-btn:hover{
	background: black;
}

button:hover{
	background: white;
	color: black;
}

button:focus {
	outline: none;
}

#sorry-msg{
	margin: 15% auto;
	font-weight: 100;
}
