body{
	text-align: center;
}

#content{
	margin-top: 10rem;
}

h1 {
	margin: 5% auto;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	line-height: 40%;
	padding-bottom: 5;
}

#year{
	font-size: 0.4em;
	font-weight: 200;
	color: #0472e8;
}

h1:hover .fas{
	opacity: 1;
	transition: 500ms;
}

#header td{
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

.fas{
	padding: 0 3%;
	color: gray;
	opacity: 0;
	transition: 500ms;
}

.fas:hover{
	color: white;
}

.pop-up-container{
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 7.5%;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.95);
}

.pop-up-content{
	width: 70%;
	position: relative;
	top: -40px;
}

#close-button{
	color: gray;
	background: none;
	border: none;
	font-size: 2rem;
	padding: none;
	position: relative;
	left: 50%;
}

#close-button:hover{
	color: white;
}

#close-button:focus{
	outline: none;
}

.pop-up-content img{
	padding-bottom: 20px;
}

.pop-up-content h2{
	text-transform: uppercase;
	padding-bottom: 20px;
}

.pop-up-content p{
	text-align: justify;
}

.test-btn{
	border-radius: 4px;
	background: none;
	border: 1px solid white;
	color: white;
}

.event{
	float: left;
}

.event h3, p{
	font-weight: 100;
}

.event img{
	border: 0 none;
	box-shadow: none;
}

.event p{
	color: #0472e8;
}

.img-thumbnail{
	border: none;
}
