#main-title{
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  margin-top: 6vh;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#main-title-alt{
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  margin-top: 6vh;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  visibility: hidden;
}

#banner{
  height: 92.5vh;
  position: relative;
}

#main-title span{
  font-size: 0.85em;
}

#main-title #special{
  font-size: 0.6em;
}

#main-img{
  width: 100.1%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#club-summary, #sponsors{
  background-color: #f4f4f4;
}

#sponsors img{
  width: 25%;
}

.card{
  border: none;
  background-color: black;
}

.card-title h6{
  margin-top: 10px;
  color: #0472e8;
}

.fab{
  font-size: 1.5rem;
}

.scrolled{
  background-color: rgba(0, 0, 0, 0);
}

.event{
  float: left;
}

.event h4, p{
	font-weight: 150;
}

.event-img{
	border: 0 none;
	box-shadow: none;
	opacity: 1;
	transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-overlay{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 360px;
	height: 260px;
	display: flex;
	align-items: center;
  justify-content: center;
}

.event:hover .event-img {
	opacity: 0.1;
}
  
.event:hover .img-overlay {
	opacity: 1;
}

.img-thumbnail{
	background: none;
	border-radius: 0.4rem;
	width: 360px;
	height: 260px;
}

.icon{
  border-radius: 50%;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  padding-top: 1.4rem;
  color: #353535;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body{
  text-align: center;
}

strong{
  font-size: 1.5rem;
}

@media(max-width:575px) {
  #main-title{
    font-size: 1.4rem;
    padding-top: 30vh;
  }
}

@-webkit-keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}

@keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}

@-webkit-keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}

@keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}

div.mouse-container {
  position: absolute;
  bottom: 7.5px;
  display: block;
  height: 100px;
}

div.mouse {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 26px;
  height: 40px;
  border: solid 1px #fff;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s;
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

div.mouse span.scroll-down {
  display: block;
  width: 7.5px;
  height: 7.5px;
  background: #fff;
  border-radius: 50%;
  margin: 15% auto auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

#scroll-anim{
  transition: 750ms;
}

.scrolled{
  opacity: 0;
}

/* .logos img{
  height: 70px;
} */
