#main-title{
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 6%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#main-title span{
  font-size: 0.85em;
}

#main-title #special{
  font-size: 0.6em;
}

#ads{
  margin-top: 7vh;
}

#main-img{
  position: relative;
  bottom: 0;
}

.card{
  border: none;
}

.card-title h6{
  margin-top: 10px;
  color: #0472e8;
}

.fab{
  font-size: 1.5rem;
}

@media(max-width:575px) {
  #main-title{
    font-size: 1.5rem;
  }
}

