#main-title{
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 7.5%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#main-title span{
  font-size: 0.85em;
}

#main-title #special{
  font-size: 0.6em;
}

.card{
  background-color: black;
}

#ads{
  margin-top: 6%;
}

.card-title h6{
  color: #0472e8;
}

@media(max-width:575px) {
  #main-title{
    font-size: 1.25rem;
  }
}
