label span{
	color: red;
}

.main{
  width:60%;
}

h2{
  text-align: center;
}

.btn{
	color: rgb(2, 145, 145);
  border-color:  rgb(2, 145, 145);
}

button:hover{
	background-color: rgb(2, 145, 145);
	color: black;
}

.cancel-btn{
  border-color: red;
  color: red;
}

.cancel-btn:hover{
  background-color: red;
  color: black;
}

button:focus {
	outline: none;
}
