#desc{
  text-align: justify;
}

#events-tag{
  color: gray;
}

.admin-details strong, .admin-details span {
  color : gray;
}

.admin-details, .confirm-overlay h3 span{
  color: #0472e8;
}

.edit-btn{
  border-color: gold;
  color: gold;
}

.edit-btn:hover{
  background-color: gold;
  color: white;
}

.del-btn{
  border-color: red;
  color: red;
}

.del-btn:hover{
  background-color: red;
  color: white;
}

.del-btn:focus{
  outline: none;
}

.blog-btn, .back-btn{
  border-color: white;
  color: white;
}

.blog-btn:hover, .back-btn:hover{
  background-color: white;
  color: black;
}

.back-btn-2{
	color: rgb(2, 145, 145);
  border-color:  rgb(2, 145, 145);
}

.back-btn-2:hover{
	background-color: rgb(2, 145, 145);
	color: white;
}

.confirm-overlay{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  width: 100%;
}

.event-details{
  transition: .5s ease;
}

body{
  text-align: center;
}

h2{
  text-align: center;
  font-weight: 300;
}

p{
  font-weight: 100;
}

h6{
  font-weight: 200;
}
